*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
header{
    width: 100%;
    height: 250px;
}

header .franjas{
    
    background-color: black;
}
header .franjas .negro{
    height: 80px;
}
header .franjas .logo{
    height: 80px;
    background-color: aliceblue;
}
header .franjas .logo img{
    margin-left: 150px;
    transform: scale(2);
}
header .franjas .negro2{
    height: 80px;
    color: white;
}
header .franjas .negro2 ul{
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    margin-top: 10px;
}
header .franjas .negro2 ul li{
    margin:20px ;
    cursor: pointer;
}
header .franjas .negro2 ul li:hover{
    transform: scale(2);
}

.container1{
    width: 100%;
    height: 100vh;

}

.container1 .d-block{
    
    height: 600px;
}
.carousel{
    width: 70%;
   
   margin: 20px;
    margin-left:40px ;
    border-radius: 20px;
    overflow: hidden;
}
.container1 .hombres{
    margin-top: 30px;
    width: 100%;
    height: 640px;
    background-color: rgba(8, 152, 248, 0.247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-wrap:break-word;
}
.hombres .letras{
    width: 25%;
    
    height: 600px;
    margin-right: 10px;
}
.hombres .letras>h1{
    font-size: 50px;
    text-align: center;
    margin: 30px;
}
.container1 .frase{
    height: 200px;
    text-align: center;
    font-size: 30px;
}
.container1 .mujeres{
    margin-top: 30px;
    width: 100%;
    height: 640px;
    background-color: rgba(248, 8, 148, 0.247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-wrap:break-word;
}
.mujeres .letras2{
    width: 25%;
    
    height: 600px;
    margin-left: 10px;
}
.mujeres .letras2>h1{
    font-size: 50px;
    text-align: center;
    margin: 30px;
}


.mayoreo{
    width: 100%;
    height: 150px;
    margin-top: 30px;
    text-align: center;
}

.info{
    width: 100%;
    height: 400px;
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}


.btn{
    background-color:white;
    color: black;
}
.capa{
    background-color: rgba(41, 8, 8, 0.548);
}